.switch__i_element {
    border-color: #999;
    background: #999;
}

.switch__i_element_check {
    background: #005aA1;
    border-color: #005AA1;
}

.switch__checkbox_element + .switch__i_element:after {
    color: #fff;
}

.switch__i_element_hover,
.switch__input_element_hover {
    border-color: #00bdf2 !important;
    color: #00bdf2 !important;
}

.switch__input_element_hover .switch__i_element_check {
    background: #00bdf2;
}

.switch__input_element_hover .switch__i_element_check + .switch__i_element {
    background: #00bdf2;
    border-color: #00bdf2;
}

.switch__input_element {
    color: #005aA1;
}

.switch__input_element_disabled {
    color: #999;
}

.switch__i_element_disabled {
    border-color: #999;
    background: #fff;
}

.switch__i_element_error {
    border-color: #b60000;
    background: #fff;
}

.switch__i_element_check.switch__i_element_error {
    background: #b60000;
}

.switch__input_element_error {
    color: #b60000;
}

.switch__i_element:after {
    background: #fff;
}

.switch__i_element_check:after {
    background: #fff;
}