.checkbox__checkbox_element {
    position: absolute;
    left: -9999px;
}

.checkbox__input_element {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.checkbox__checkbox_element {
    position: absolute;
    left: -9999px;
}

.checkbox__i_element {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
}

.checkbox__i_element {
    transition: background .3s;
    border-radius: 4px;
}

.checkbox__i_element:after {
    position: absolute;
    opacity: 0;
    transition: opacity .1s;
    -webkit-transition: opacity .1s;
}

.checkbox__checkbox_element:checked + .checkbox__i_element:after {
    opacity: 1;
}

.checkbox__i_element:after {
    content: 'Г';
    left: 2px;
    width: 15px;
    height: 15px;
    font: 400 16px/19px FontAwesome;
    text-align: center;
}