.email_autocomplite {
    position: relative;
    margin-top: 30px;
}

.email_autocomplite__input_element {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 15px;
    border-radius: 6px;
    width: calc(100% - 30px);
}

.email_autocomplite__label {
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 15px;
    transition: 0.2s ease all;
}

.email_autocomplite__label_active {
    top: -25px;
    font-size: 12px;
    left: 0;
}

.email_autocomplite__rightElement {
    position: absolute;
    top: calc(50% - 11px);
    right: 10px;
}

.email_autocomplite__input_element_error {
    border: 1px solid #B60000!important;
}